.conteiner{
    padding-top: 50px;
    padding-bottom: 50px;
        width: 100%;
        margin-inline: auto;
        
    
    }
    .cardBlok{
        
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    
    }
    