.conteiner {
    width: 100%;
    display: flex;
    align-items: center;
    background: #ffcc00;
    height: 90px;
    position: fixed;
    width: 100%;
    box-shadow: 3px 1px 4px 3px #333333b7;
    z-index: 1200;
  }
  .blok {
    margin: 0 auto;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
  .icon{
      cursor: pointer;
      font-size: clamp(14px, 8vw, 25px);
      color: white;
  }
  .logo {
    cursor: pointer;
    color: #ffffff;
    font-family: Oswald;
    font-weight: 700;
    font-size: clamp(20px, 6vw, 30px);
  }
  .label {
    color: #ffcc00;
  }

  .join {
    font-family: Roboto;
    font-weight: 500;
    text-decoration: none;
    color: #333333;
    transition: 0.5s;
  }
   .join:hover {
    transition: 0.4s;
  
    color: #ffffff;
  } 
  
  .registr {
    font-family: Oswald;
    font-weight: 400;
    color: #ffcc00;
    text-decoration: none;
  }
  .admins {
    font-family: Oswald;
    font-weight: 400;
    color: #3079ef;
    text-decoration: none;
  }
  .contlogo {
 
    height: 100px;
    margin-left: 70px;
    display: flex;

    gap: 10px;
    align-items: center;
  }
  .img {
    width: 110px;
    height: auto;
  }
  .parag {
    opacity: 90%;
    margin: 0;
    color: #333333;
    font-family: Roboto;
    font-weight: 400;
    font-size: clamp(16px, 6vw, 25px);
  }

   .nav {
    display: flex;
    gap: 100px;
    font-size: clamp(14px, 8vw, 25px);
    margin-right: 70px;
    text-decoration: none;
  } 

  @media(  max-width: 768px){
     .nav{
      position: fixed;
      width:  100%;
      top: 0;
      right: 0;
      margin: 0 auto;
      flex-direction: column;
      border: 1px solid black;
      transform:translateX( calc(100% + 70px)) ;
    } 
    .contlogo{
      margin-left: 10px;
    }
  
    
    .nav.active{
      transform:translateX( calc(0%)) ;
    }
  }