.conteiner{
    width: 100%;
    margin-inline: auto;
    border: 1px solid black;

}
.cardBlok{
    
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
border: 1px solid rebeccapurple;
}
