@font-face {
  font-family: Roboto;
  src: url('../public/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url('../public/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url('../public/fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url('../public/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

.cont {
  width: 1400px;
}

body{
  font-family: 'Roboto';
  display: grid;
}

.card{
  display: flex;
  padding: 0 20px;
  width: 480px;
  height: var(--menu-height);
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 20px 30px rgba(57, 76, 96, 0.06);
  transition: 0.3s;
}


.modalAuth{
  padding: 24px;
  background: #fcfcfc;
  box-shadow: 10px 10px 20px 10px #000;
}